:root {
    --vh:1px;
    --vw:1px;
}
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
    line-height: 1.5; /* 2 */
    width: calc(var(--vw) * 100);
  }
body {
    margin: 0;
    height: calc(var(--vh) * 100);
    width: calc(var(--vw) * 100);
}
.wrapper1{
    display: grid;
    grid-template-columns: minmax(0,min-content ) 90%;
    height: calc(var(--vh) * 100);
    width: calc(var(--vw) * 100);
}
#navList  {
    display: none;
}
#nav {
    width: calc(var(--vw) * 100);
    display: grid;
    grid-template-columns: max-content 1fr minmax(0, 2fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: calc(var(--vh) * 9);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: calc(var(--vh) * 9);
}
#navMenu {
    justify-self: flex-start;
    margin-left: 2.5rem;
    margin-right: 3rem;
    width:min-content;
    height: 75%;
}
#mTitle {
    justify-self: flex-start;
    height: auto;
}
#mTitle span:first-child{
    font-size: calc(var(--vh) * 6);
    font-weight: 700;
    color:#00BFBA;
}
#mTitle span:nth-child(2){
    font-size: calc(var(--vh) * 6);
    font-weight: 600;
    color:#173885;
}
main {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: calc(var(--vh) * 13) min-content min-content 1fr; 
    width: calc(var(--vw) * 100);
    height: calc(calc(var(--vh) * 100) - calc(var(--vh) * 9));
    grid-template-areas:
    "left ...     right  right" 
    "left content content  ..."
    "left content content  ..."
    "left content content  ..."
    "left footer footer footer" ;

}
#inscr {
    grid-column-start: 4;
}
.btn {
    border: 2px solid;
    border-radius: 7px;
    font-size: 1.5rem;
    
}
#doc {
    grid-area: left;
    width: calc(var(--vw) * 33);
    height: 100%;
    /* grid-area: left; */
    grid-row-start: 1;
    grid-row-end: 6;
}
#doc img {
    height: 100%;
    width: calc(var(--vw) * 49);
}
main div:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
    /* background-color: aqua; */
}
main div:nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 2;
    /* background-color: blueviolet; */
}
main div:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 4;
}
#footer {
    /* grid-column-start: 4;
    grid-row-start: 4; */
    width: 60%;
    /* display: flex; */
    flex-flow: row-reverse;   
    grid-area: footer;
    align-self: flex-end;
    justify-self: right;
    width: calc(var(--vw) * 67);
    height: calc(var(--vh) * 20);
}
 #footer img {
    position: absolute;
    right: 0;
    bottom: 0; 
    width: calc(var(--vw) * 67);
    height: 20%; 
} 
main a {
    grid-column-start: 2;
    grid-row-start: 4;
}
 #topRight {
    grid-area: right;
    height: calc(var(--vh) * 30);
    width: calc(var(--vw) * 30); 
    /* display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start; */
    align-self: flex-start;
    justify-self: right;
}
/* #topRight img {
     position: absolute;
    top: calc(var(--vh) * 9); 
    right: 0;
    height: calc(var(--vh) * 4);
    width: calc(var(--vw) * 30);
}  */
main div.bigTitle {
    text-indent: 0;
    font-size: calc(var(--vh) * 4.5);
    width: calc(var(--vw) * 47); 
    padding: 10px 0px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
}
.liners {
    text-align: center;
}
.supptxt {
    font-size: calc(var(--vh) * 3.4);
    padding: 4px;
    margin-top: calc(var(--vh) * 3);
}
#testerBtn {
    border: 4px solid white;
    padding:7px;
    justify-self: center;
    width: 40%;
    height:calc(var(--vh) * 6.5);
    font-size: 2rem;
    margin-top: calc(var(--vh) * 7);
    border-radius: 8px;
    line-height: calc(var(--vh) * 6.5);
    font-weight: 700;
    background-color: #00BFBA;
    color: white;
    text-overflow: ellipsis;
}
a {
    text-decoration: none;
}
.navBtn {
    border: 4px solid gray;
    text-align: center;
    font-size: calc(var(--vh) * 3);
    line-height: calc(var(--vh) * 4.4);
    min-width: max-content;
    height: calc(var(--vh) * 5);
    margin: 0 5px;
    font-weight: 600;
}
 #inscr {
    width: 60%;
    justify-self: flex-end;
    background-color: white;
    color: #00BFBA;
    border-color: #00BFBA;
 }
 #conn {
    width: 65%;
    background-color: #173885;
    color: white;
    border-color: white;
    font-size: calc(var(--vh) * 2.9);
    font-weight: 500;
    height: calc(var(--vh) * 5.5);
    margin-right: 2rem;
    margin-left: 1rem;
    padding-top: 3px;
 }
 @media (max-width : 700px) {
     .min, #conn, #inscr, #testerBtn,main div.bigTitleS{
         font-size: smaller;
         font-weight: 400;
     }
     .btn {
         font-size: small;
         border-width: 1px;
     }
     #mTitle {
         display: none;
     }
     #navMenu {
         height: calc(var(--vh)*2);
         width: calc(var(--vw)*4)
     }
 }